.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.projects_item {
  position: relative;
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projects_item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.projects_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.projects_item h3 {
  margin: 1.2rem 0 0.3rem;
}

.projects_item h5 {
  color: var(--color-primary);
  margin-bottom: 5rem;
}

.projects_item-cta {
  position: absolute;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  bottom: 1%;
}

@media screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
