.technologies_container {
  width: 40%;
  padding-bottom: 4rem;
}

.client_avatar {
  background: var(--color-white);
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10%;
  margin: 0 auto 1rem;
}

.technologies {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client_review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .technologies_container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .technologies_container {
    width: var(--container-width-sm);
  }

  .client_review {
    width: var(--container-width-sm);
  }
}
